/* Палитра
фон:
основной #FFFFFF (белый)
вторичный #F5F4FA (сероватый)
третичный #2F303A (ближе к черному)

текст:
основной #757575 (сероватый)
заголовки #212121 (ближе к черному)
вторичный #FFFFFF (белый)
вторичный с прозрачностью rgba(255, 255, 255, 0.6)
акцент #2196F3 (голубоватый)
 */
:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --tertiary-bg-color: #2f303a;

  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --secondary-text-color-alfa: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
}

/* Общие элементы */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.header-contacts,
.footer-contacts {
  font-style: normal;
}

.logo-link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web-word {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid tomato; */
}

/* Шапка */
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border-bottom: 1px solid var(--secondary-bg-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav .logo-link {
  margin-right: 93px;
}

.header .logo-link,
.nav-list .link {
  color: var(--title-text-color);
}

.nav-list {
  display: flex;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link.active {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
}

.header-contacts .link {
  color: var(--primary-text-color);
}

.header-contacts .link:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link:hover,
.nav-list .link:focus,
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* Подвал */
.footer {
  background-color: var(--tertiary-bg-color);
  color: var(--secondary-text-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .sub-container {
  width: 270px;
}

.footer .logo-link {
  color: var(--secondary-text-color);
}

.footer-contacts {
  margin-top: 20px;
}

.footer-contacts .text {
  margin-bottom: 9px;
}

.footer-contacts .link {
  color: var(--secondary-text-color-alfa);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.footer-contacts .link:not(:last-child) {
  display: inline-block;
  margin-bottom: 9px;
}

/* Контент страницы Студия */
/* Секция order */
.order-section {
  color: var(--secondary-text-color);
  background-color: var(--tertiary-bg-color);

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-01.jpg);
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.order-section .container {
  max-width: 696px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.order-section .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.order-section .link {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
}

/* Секция advantages */
/* стили не нужны, так как заголовок скрыт */
/* .advantages-section .main-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
} */

.advantages-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-section .list {
  display: flex;
  justify-content: space-between;
}

.advantages-section .item {
  width: calc((100% - 3 * 30px) / 4);
}

.advantages-section .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

/* Секция work-description (чем мы занимаемся) */
.work-description-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-description-section .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.work-description-section .list {
  display: flex;
  justify-content: space-between;
}

.work-description-section .item {
  width: 370px;
  height: 294px;
}

/* Секция team */
.team-section {
  background-color: var(--secondary-bg-color);

  padding-top: 94px;
  padding-bottom: 94px;
}

.team-section .main-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.team-section .list {
  display: flex;
  justify-content: space-between;
}

.team-section .card {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  width: calc((100% - 3 * 30px) / 4);
  padding-bottom: 30px;
}

.team-section .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-top: 30px;
  margin-bottom: 10px;
}

.team-section .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Контент страницы Портфолио */
/* Секция projects */
.projects-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-section .buttons {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.projects-section .button {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: inherit;
  text-align: center;

  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.projects-section .item:not(:last-child) {
  margin-right: 8px;
}

.projects-section .button:hover,
.projects-section .button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

/* стили не нужны, так как заголовок скрыт */
/* .projects-section .main-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
} */

.projects-section .cards {
  display: flex;
  flex-wrap: wrap;
}

.projects-section .card {
  width: calc((100% - 2 * 30px) / 3);
}

.projects-section .card:hover,
.projects-section .card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* всем карточкам, кроме 3-х последних */
.projects-section .card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

/* всем карточкам, кроме каждой 3-й */
.projects-section .card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects-section .sub-container {
  border-bottom: 1px solid var(--secondary-bg-color);
  border-left: 1px solid var(--secondary-bg-color);
  border-right: 1px solid var(--secondary-bg-color);

  padding: 20px 24px;
}

.projects-section .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.projects-section .text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}
